.add {
  display: flex;
  justify-content: center;

  .container {
    width: 100%;
    max-width: 1200px;
    padding: 50px;
    background-color: #FFF5EA;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    
    button[type='submit']{
      border: none;
      padding: 15px;
      color: white;
      font-weight: 500;
      font-size: 16px;
      background-color: #1dbf73;
      border-radius: 5px;
      cursor: pointer;
      transition: background-color 0.3s ease;
      width: 100%;
      margin-top: 20px;
    }
    button[type='submit']:hover{
      background-color: #17a267; /* Darker shade on hover */
    }

    h1 {
      margin-bottom: 30px;
      color: #333;
      font-weight: 400;
      text-align: center;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

    }

    .sections {
      display: flex;
      justify-content: space-between;
      gap: 100px;

      label {
        color: #666;
        font-size: 16px;
        margin-bottom: 5px;
      }

      .info,
      .details {
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: 15px;

        input,
        select,
        textarea {
          width: 100%;
          padding: 15px;
          border: 1px solid #ccc;
          border-radius: 5px;
          font-size: 16px;
          color: #333;
          transition: border-color 0.3s ease;
        }

        input[type='file'] {
          padding: 10px;
        }

        input:focus,
        select:focus,
        textarea:focus {
          outline: none;
          border-color: #1dbf73; /* Highlight color */
        }

        
        button[type='button'] {
          border: none;
          padding: 15px;
          color: white;
          font-weight: 500;
          font-size: 16px;
          background-color: #1dbf73;
          border-radius: 5px;
          cursor: pointer;
          transition: background-color 0.3s ease;
        }

        button[type='submit']:hover,
        button[type='button']:hover {
          background-color: #17a267; /* Darker shade on hover */
        }
      }
    }
  }
}
