.navbar {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #e6793b;
  color: white;
  position: sticky;
  top: 0;
  z-index: 999;
  transition: 0.5s all ease;

  &.active {
    background-color: #f1f1f1;
    color: black;

    button {
      background-color: white !important;
      color: #e46b67 !important;
      border: 1px solid #e46b67 !important;
    }
  }

  .container {
    width: 1400px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0px;

    .logo {
      font-size: 34px;
      font-weight: bold;

      .dot {
        font-weight: bold;
        color: #fffeaa;
      }
    }
    .links {
      display: flex;
      align-items: center;
      gap: 24px;
      font-family: "Montserrat", sans-serif;
      font-weight: 500;

      span {
        white-space: nowrap;
      }

      .user {
        display: flex;
        align-items: center;
        gap: 10px;
        cursor: pointer;
        position: relative;

        img {
          width: 32px;
          height: 32px;
          border-radius: 50%;
          object-fit: cover;
        }

        .options {
          position: absolute;
          top: 50px;
          right: 0;
          padding: 20px;
          background-color: white;
          border-radius: 10px;
          z-index: 999;
          border: 1px solid lightgrey;
          display: flex;
          flex-direction: column;
          gap: 10px;
          width: 200px;
          font-weight: 300;
          color: gray;
        }
      }

      button {
        color: white;
        padding: 10px 20px;
        border-radius: 5px;
        border: 1px solid white;
        background-color: transparent;
        cursor: pointer;

        &:hover {
          background-color: #e46b67;
          border-color: #e46b67;
        }
      }
    }
  }

  hr {
    width: calc(100% - 2px);
    height: 0;
    border-top: 0.5px solid #ebe9e9;
    border-bottom: 0.5px solid #ebe9e9;
  }

  .menu {
    width: 1400px;
    padding: 10px 0px;
    display: flex;
    justify-content: space-between;
    color: gray;
    font-weight: 300;
    font-family: "Montserrat", sans-serif;
  }
}
.navbar {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #e6793b;
  color: white;
  position: sticky;
  top: 0;
  z-index: 999;
  transition: 0.5s all ease;

  &.active {
    background-color: #f3f4e5;
    color: black;

    button {
      background-color: white !important;
      color: #e46b67 !important;
      border: 1px solid #e46b67 !important;
    }
  }

  .container {
    width: 100%;
    max-width: 1400px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 20px;

    .logo {
      font-size: 34px;
      font-weight: bold;

      .dot {
        font-weight: bold;
        color: #fffeaa;
      }
    }

    .links {
      display: flex;
      align-items: center;
      gap: 24px;
      font-family: "Montserrat", sans-serif;
      font-weight: 500;

      span {
        white-space: nowrap;
      }

      .user {
        display: flex;
        align-items: center;
        gap: 10px;
        cursor: pointer;
        position: relative;

        img {
          width: 32px;
          height: 32px;
          border-radius: 50%;
          object-fit: cover;
        }

        .options {
          position: absolute;
          top: 50px;
          right: 0;
          padding: 20px;
          background-color: white;
          border-radius: 10px;
          z-index: 999;
          border: 1px solid lightgrey;
          display: flex;
          flex-direction: column;
          gap: 10px;
          width: 200px;
          font-weight: 300;
          color: gray;
        }
      }

      button {
        color: rgb(255, 255, 255);
        padding: 10px 20px;
        border-radius: 5px;
        border: 1px solid white;
        background-color: transparent;
        cursor: pointer;

        &:hover {
          color: rgb(249, 72, 2);
          background-color: #fffeaa;
          border-color: #fffeaa;
        }
      }
    }
  }

  hr {
    width: calc(100% - 2px);
    height: 0;
    border-top: 0.5px solid #ebe9e9;
    border-bottom: 0.5px solid #ebe9e9;
  }

  .menu {
    width: 100%;
    max-width: 1400px;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    color: gray;
    font-weight: 300;
    font-family: "Montserrat", sans-serif;
  }
}

@media only screen and (max-width: 1024px) {
  .navbar .container {
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar .logo {
    margin-bottom: 20px;
  }

  .navbar .links {
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
  }

  .navbar .links .user .options {
    right: -20px;
  }

  .navbar hr {
    display: none;
  }

  .navbar .menu {
    flex-wrap: wrap;
  }

  .navbar .logo .dot {
    display: none;
  }

  .navbar .links button {
    margin-top: 12px;
  }
}
