.footer {
    justify-content: center;
    color: #999;
    margin: 50px 0px;
    padding: 0 20px;
    
  
    hr {
      margin-bottom: 20px;
    }
  
    img {
      width: 24px;
      height: 24px;
    }
  
    .container {
      max-width: 1200px;
      margin: 0 auto;
  
      .top {
        display: flex;
        justify-content: space-between;
        padding: 20px 0;
  
        .item {
          display: flex;
          flex-direction: column;
          gap: 10px;
          padding: 0 10px;
  
          h2 {
            font-size: 16px;
            color: #555;
            margin-bottom: 10px;
          }
  
          span {
            font-weight: 300;
          }
        }
      }
  
      hr {
        margin: 50px 0px;
        height: 0;
        border: 1px solid rgb(237, 223, 223);
      }
  
      .bottom {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 20px 0;
  
        .left {
          display: flex;
          align-items: center;
          gap: 20px;
  
          span {
            font-size: 13px;
          }
        }
  
        .right {
          display: flex;
          align-items: center;
          gap: 30px;
  
          .social {
            display: flex;
            align-items: center;
            gap: 15px;
          }
  
          .link {
            display: flex;
            align-items: center;
            gap: 10px;
          }
        }
      }
    }
  }
  